#content {
    box-sizing: border-box;
    max-width: max(65vw, 320px);
    text-align: center;
}

.img-container {
    max-width: 100%;
}

section {
    overflow-x: auto;
}

section .content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

section .content .text {
    margin: 0 min(5vw, 5rem);
}

section .content p {
    margin: 1rem;
}

.img-container img {
    object-fit: cover;
    object-position: center;
    max-width: 100%;
}


section>*:not(.img-container) {
    margin: 1rem min(5vw, 5rem);
}

section:not(:last-of-type) {
    margin-bottom: min(5vw, 5rem);
}

section .content {
    display: flex;
    flex-direction: column;
}