:root {
    --primary-bg-color: green;
    --primary-dark-bg-color: #2d6a4f;
    --secondary-bg-color: white;

    --primary-c-color: white;
    --secondary-c-color: black;

    --hover-primary-bg-color: rgb(5, 137, 5);
    --hover-secondary-bg-color: rgb(236, 236, 236);

    --nav-height: 5em;

    --page-scrollbar-c-color: rgb(7, 95, 7);
    --page-scrollbar-bg-color: white;

    --hero-bg-color: rgba(20, 80, 20, 0.25);

    --hero-overlay-bg: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1));
}

html {
    scrollbar-color: var(--page-scrollbar-c-color) var(--page-scrollbar-bg-color);
    scroll-padding-top: var(--nav-height);
    overflow-x: auto;
}

body {
    font-family: Arial, Helvetica, sans-serif;

}

p {
    max-width: 125ch;
}

.menu[popover]:popover-open {
    display: flex;
}

.menu[popover] {
    display: none;
    position: relative;
    color: inherit;
    background-color: transparent;
    border: none;
    width: auto;
    height: auto;
    box-sizing: border-box;
    overflow: visible;
}

.menu[popover]::backdrop {
    display: none;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: min(100vh, 1369px);
}

#content {
    width: 100%;
    overflow-x: auto;
    margin: 2rem auto;
    flex-grow: 1;
    max-width: max(80vw, 320px);
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding: 0 20px;
    box-sizing: border-box;
}

#main-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: min(max(1rem, 1vw), 20rem);
    max-height: calc(100vh - var(--nav-height));
}

svg:has(use) {
    height: 100%;
    width: 100%;
}

.location-address {
    font-style: italic;
}


/*#region nav*/
nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    color: var(--primary-c-color);
    text-align: center;
}


nav ul {
    font-size: large;
    display: flex;
    flex-direction: row;
    align-content: center;
    text-align: center;
    justify-content: flex-start;
}

nav li a {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

nav li button {
    padding: 1rem;
}

nav :is(a, button):hover {
    transform: translate(1%, 1%);
}

nav :is(a, button).current {
    text-decoration: underline solid var(--primary-c-color) 0.1rem;
    text-underline-offset: 0.2rem;
}

/*#endregion nav*/

/*#region header*/
header {
    position: fixed;
    max-width: 100vw;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2;
}

header nav {
    height: var(--nav-height);
}

#logo-item {
    max-height: 100%;
    margin: 1lh min(1lh, 25px);
    flex-shrink: 0;
}

#logo-item:hover {
    translate: 1% 1%;
}

#logo-item .img-container {
    width: 100%;
    height: 100%;
}

#logo-item .img-container img {
    object-fit: contain;
    object-position: center;
}

@keyframes nav_bg_disappear {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-100%);
    }
}

@keyframes nav_bg_appear {
    to {
        opacity: 1;
        transform: translateY(0);
    }

    from {
        opacity: 0;
        transform: translateY(-100%);
    }
}



header nav::before {
    z-index: -1;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    background-color: var(--primary-bg-color);
    transform: translateY(-100%);
    animation: nav_bg_disappear 0.35s ease-in-out;
}

body.scrolled header nav::before {
    opacity: 1;
    transform: translateY(0);
    animation: nav_bg_appear 0.3s ease-in-out;
}



header nav:has(#main-menu:popover-open)::before {
    opacity: 1;
    transform: translateY(0);
    animation: nav_bg_appear 0.07s ease-in-out;
}



/*#endregion header*/


#hero {
    display: flex;
    flex-direction: column;
    background-image: var(--hero-overlay-bg), url("../resources/hero/700.webp");
    background-image: var(--hero-overlay-bg), image-set(url("../resources/hero/2500.webp") 3.57x,
            url("../resources/hero/1920.webp") 2.74x,
            url("../resources/hero/1792.webp") 2.56x,
            url("../resources/hero/1075.webp")1.5x,
            url("../resources/hero/700.webp") 1x,
            url("../resources/hero/425.webp") 0.6x);
    height: calc(100vw / 7 * 4);
    min-height: fit-content;
    max-height: 100vh;
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
    background-size: cover;
    position: relative;
    overflow-x: auto;
    z-index: 1;
    color: var(--primary-c-color);
    background-color: var(--hero-bg-color);
    padding: var(--nav-height, 0) 0;
}

#hero .text {
    margin: auto;
}



/*#region footer*/

footer {
    overflow-x: auto;
    background-color: var(--primary-dark-bg-color);
    color: var(--primary-c-color);
    padding: 16px 0;
    text-align: center;
}

footer .content {
    display: flex;
    min-width: min-content;
    flex-direction: column;
    align-items: center;
}

footer .content h2 {
    font-size: medium;
}

footer .small-text-rows {
    display: flex;
    flex-direction: column;
    row-gap: 0.25lh;
}

footer a {
    color: inherit;
    text-decoration: none;
}

footer nav {
    justify-content: center;
}

footer nav ul {
    justify-content: center;
}

footer address {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0.25lh 0 1lh 0;
}

/*#endregion footer*/



#hamburger-checkbox {
    display: none;
}

#hamburger {
    display: none;
}


/*#region dropdown*/


.js-dropdown {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: baseline;
}

.dropwdown-indicator {
    color: inherit;
}

:is(.js-dropdown.open, body:not(.supports-js) .js-dropdown:is(:hover, :focus-within)) .dropdown-menu {
    display: flex;
    visibility: visible;
    opacity: 1;
}

button.js-dropdown-btn {
    text-decoration: none;
    text-align: center;
    display: inline-block;
    border: none;
    color: var(--primary-c-color);
    background-color: transparent;
    font-size: inherit;
    height: 100%;
    width: 100%;
}

/*#endregion dropdown*/

.dropdown-menu {
    display: none;
    flex-direction: column;
    padding: 0.1rem;
}

@media only screen and (width > 700px) and (width > 40rem) {
    @keyframes dropdown_open {

        0%,
        45% {
            display: none;
            opacity: 0.3;
            transform-origin: var(--transform-vertical-origin, top) center;
            transform: rotateX(-90deg) translateY(var(--translateY, -10%)) translateX(50%);
        }

        100% {
            display: flex;
            opacity: 1;
            transform: rotateX(0) translateY(0) translateX(50%);
        }
    }

    @keyframes dropdown_close {
        0% {
            display: flex;
            opacity: 1;
            transform: rotateX(0) translateY(0) translateX(50%);
        }

        100% {
            display: none;
            opacity: 0;
            transform-origin: var(--transform-vertical-origin, top) center;
            transform: rotateX(-90deg) translateY(var(--translateY, -10%)) translateX(50%);
        }
    }


    .dropdown-menu {
        display: none;
        position: absolute;
        background-color: var(--secondary-bg-color);
        width: max-content;
        top: calc(100% - 0.75rem);
        right: 50%;
        color: var(--secondary-c-color);
        animation: dropdown_close 0.15s ease-in-out;

    }

    :is(.js-dropdown.open, body:not(.supports-js) .js-dropdown:is(:hover, :focus-within)) .dropdown-menu {
        transform: rotate(0deg) translateX(50%);
        animation: dropdown_open 0.35s ease-in-out;
    }

    .dropdown-menu li:is(:hover, :focus) {
        background-color: var(--hover-secondary-bg-color);
    }
}


@media only screen and (max-width: 700px),
(max-width: 40rem) {

    @keyframes dropdown_mobile_open {
        from {
            display: none;
            opacity: 0.3;
            transform-origin: top center;
            transform: rotateX(-40deg) translateY(-2rem);
        }

        to {
            display: flex;
            opacity: 1;
            transform: rotateX(0) translateY(0);
        }
    }

    @keyframes dropdown_mobile_close {
        from {
            display: flex;
            opacity: 1;
            transform: rotateX(0) translateY(0);
        }

        to {
            display: none;
            opacity: 0;
            transform-origin: top center;
            transform: rotateX(-15deg) translateY(-3rem);
        }
    }

    /*#region header*/

    .js-dropdown {
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
    }

    @keyframes dropin {
        100% {
            height: 0px;
            opacity: 0;
            display: none;
            overflow: hidden;
            transform: translateY(-10rem);

        }

        100% {
            display: flex;
            overflow: hidden;
            height: 10rem;
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes dropout {
        0% {
            display: flex;
            overflow: hidden;
            height: 10rem;
            opacity: 0.5;
            transform: translateY(0) scaleY(1);
        }

        90% {
            height: 1rem;
            opacity: 0;
            transform: translateY(-6rem) scaleY(0.1);
        }

        100% {
            height: 0px;
            opacity: 0;
            display: none;
            overflow: hidden;
            transform: translateY(-10rem) scaleY(0);
        }
    }

    .dropdown-menu {
        position: relative;
        width: 100%;
        color: inherit;
        animation: dropout 0.3s ease-in;
        overflow: hidden;
        transform: translateY(-100%);
    }

    :is(.js-dropdown.open, body:not(.supports-js) .js-dropdown:is(:hover, :focus-within)) .dropdown-menu {
        display: flex;
        animation: dropin 0.2s ease-in-out;
        transform: none;
    }

    /*#endregion header*/

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    footer {
        padding: 1lh 16px;
        width: 100%;
        box-sizing: border-box;
    }

    footer nav ul {
        flex-direction: column;
        width: 100%;
        margin: 16px 0;
    }


    /*#region hamburger*/
    #hamburger {
        display: block;
        opacity: 1;
        z-index: 1;
        float: right;
        font-size: 4em;
    }

    #hamburger-btn {
        display: block;
        align-self: center;
        color: white;
        background-color: transparent;
        border: none;
        font-size: 100%;
    }

    #hamburger-btn .close-icon {
        display: none;
    }

    #main-menu:popover-open {
        display: flex;
        height: fit-content;
        animation: dropdown_mobile_open 0.3s ease-in-out;
    }

    /*#endregion hamburger*/

    .menu[popover] {
        display: none;
    }

    nav:has(#main-menu:popover-open) #hamburger-btn .list-icon {
        display: none;
    }

    nav:has(#main-menu:popover-open) #hamburger-btn .close-icon {
        display: block;
    }


    #main-menu {
        display: none;
        position: fixed;
        height: fit-content;
        flex-direction: column;
        overflow-y: auto;
        overflow-x: hidden;
        background-color: var(--primary-bg-color);
        top: var(--nav-height);
        width: 100%;
        font-size: inherit;
        animation: dropdown_mobile_close 0.175s ease-in-out;
    }

    #main-menu li {
        font-size: large;
    }



    #main-menu li:not(:last-of-type) {
        border-bottom: 1px solid var(--secondary-bg-color);
    }

    #main-menu li a {
        height: auto;
    }


}

@media only print {
    header {
        position: absolute;
        top: 0;
    }

    footer {
        page-break-inside: avoid;
    }


}