:root {
    --form-input-border-size: 1px;
    --form-input-padding-vertical: 0.5rem;

    --form-primary-color: var(--primary-bg-color);
    --form-primary-c-color: var(--primary-c-color);
    --form-hover-primary-color: var(--hover-primary-bg-color);

    --form-secondary-color: #c50404;
    --form-secondary-c-color: white;
    --form-hover-secondary-color: #ce1515;

    --alert-success-bg-color: #25952580;

    --loading-spinner-backdrop-bg-color: rgba(0, 0, 0, 0.5);

    --map-aspect-ratio: 40/28;
}

.btn:hover {
    translate: 0.5% 0.5%;
}

.hidden {
    position: absolute;
    visibility: hidden;
}

#content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

main address {
    display: flex;
    flex-direction: column;
    justify-items: baseline;
    row-gap: 0.5lh;
    margin: 0 auto;
    line-height: 1.1rem;
}

main address .row {
    width: fit-content;
}

main address .label {
    float: left;
    clear: left;
    margin-right: 1rem;
    font-weight: bolder;
}

.open-hours .container {
    display: flex;
    flex-direction: column;
}


.header {
    text-align: center;
}

.contacts-section {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    font-size: large;
}

.contacts-section :is(.map-container, .contacts) {
    flex-grow: 1;
}

.contacts-section .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 1rem;
    column-gap: 0.75rem;
}

.contacts-section .contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 100%;
}

.map-container {
    aspect-ratio: var(--map-aspect-ratio);
    max-height: 30rem;
}

body:not(.supports-js) .map-container {
    display: none;
}

.map {
    max-width: 100%;
    width: 100%;
    height: 100%;
    min-height: 300px;
    border: none;
    aspect-ratio: var(--map-aspect-ratio);
}

.open-hours .container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    row-gap: 0.75rem;
    justify-content: center;
}

.open-hours .container li {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1ch;
    justify-content: center;
}



/*#region Contact form*/

.form-wrapper {
    max-width: 90ch;
    margin: 0 auto;
    position: relative;
}

form.contact-form {
    display: flex;
    flex-direction: column;
    font-size: larger;
}

form textarea {
    resize: vertical;
    min-height: 5lh;
}

form .contact-info {
    display: flex;
    flex-direction: column;
}

form .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    max-width: 100%;
}

form .field {
    display: flex;
    position: relative;
    flex-direction: column;
    align-content: stretch;
    max-width: 100%;
    flex-grow: 1;
}

form .field :is(input, textarea) {
    flex-grow: 1;
    flex-shrink: 1;
    border-width: var(--form-input-border-size);
    padding: var(--form-input-padding-vertical);
    border-radius: 0.6rem;
    font-size: inherit;
    max-width: 100%;
}

form .field label {
    margin-left: 0.75rem;
    transition: transform 0.1s ease-in;
}

form .field:has(:is(input, textarea)[required]) label::before {
    content: "* ";
    color: var(--form-secondary-color);
}

form .field:has(*:placeholder-shown) label {
    position: relative;
    transform: translateY(calc(1lh + var(--form-input-padding-vertical) + var(--form-input-border-size)));
    width: fit-content;
    cursor: pointer;
}


form .field:has(*:focus) label {
    position: relative;
    color: var(--form-primary-color);
    transform: translateY(0);
    cursor: initial;
}

.form-controls {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
    min-width: fit-content;
}

.form-controls input {
    padding: 1rem;
    border: 0;
    border-radius: 35rem;
    font-weight: bolder;
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 5rem;
    max-width: 10rem;
}

:disabled {
    cursor: not-allowed;
}


.form-controls input[type="submit"]:not(:disabled) {
    background-color: var(--form-primary-color);
    color: var(--form-primary-c-color);
}

.form-controls input[type="submit"]:not(:disabled):hover {
    background-color: var(--form-hover-primary-color);
}

.form-controls input[type="reset"]:not(:disabled) {
    background-color: var(--form-secondary-color);
    color: var(--form-secondary-c-color);
}

.form-controls input[type="reset"]:not(:disabled):hover {
    background-color: var(--form-hover-secondary-color);
}

.drop-zone {
    height: 10rem;
    width: 100%;
}

/*#endregion Contact form*/

/*#region Loading*/

@keyframes spin {
    from {
        transform-origin: center center;
        transform: rotate(0deg);
    }

    to {
        transform-origin: center center;
        transform: rotate(360deg);
    }
}

.loading {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.loading:not(.hidden) {
    font-size: xx-large;
    font-weight: bolder;
}

.loading .backdrop {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--loading-spinner-backdrop-bg-color);
    width: 100%;
    height: 100%;
    border-radius: 5%;
    padding: 1rem;
    box-sizing: border-box;
}

.loading:not(.hidden) .spinner {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 9px solid;
    border-color: var(--form-primary-color);
    border-right-color: var(--form-primary-c-color);
    animation: spin 1s linear infinite;
}

.loading:not(.hidden)::backdrop {
    background-color: var(--loading-spinner-backdrop-bg-color);
}

/*#endregion Loading*/

/*#region alert*/
.alert {
    display: flex;
    flex-direction: column;
    border-radius: 0.25rem;
    transition: transform 0.5s ease-in-out;
}

.alert.hidden {
    transform: translateY(100%);
}

.alert[data-js-type="success"] {
    background-color: var(--alert-success-bg-color);
}

.alert .close-btn {
    display: block;
    margin-left: auto;
}

.alert .content {
    text-align: center;
    margin: 0.5rem 1rem 1rem 0.5rem;
}

/*#endregion alert*/

.icon-btn {
    font-size: x-large;
    background-color: transparent;
    border: none;
}