:root {
    --service-max-width: 25rem;
    --services-max-columns: 2;
}

#content {
    text-align: center;
    margin: 2rem 0;
    padding: 0 20px;
    box-sizing: border-box;
    width: 100%;
    max-width: 100vw;
}


a.btn {
    text-decoration: none;
}

.btn {
    padding: 1rem 1%;
    border: 0.15rem solid var(--primary-bg-color);
    border-radius: 50%;
    background-color: var(--primary-bg-color);
    color: var(--primary-c-color);
}

.btn:hover {
    translate: 1% 1%;
}



#hero {
    min-height: fit-content;
    padding: var(--mobile-nav-height, 0) 0;
    box-sizing: border-box;
}

#hero-text {
    display: flex;
    color: var(--primary-c-color);
    align-items: center;
    text-align: center;
    row-gap: 0.5rem;
    margin: auto;
    flex-direction: column;
    width: fit-content;
    max-width: 100%;
    word-break: break-all;
}

#hero-text .btn {
    width: fit-content;
}

#services ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    margin: 0 auto;
    gap: 1rem;
}


#services .row-wrapper {
    flex-grow: 1;
}


#services .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 1rem;
    justify-content: space-evenly;
}

.service-item {
    flex-grow: 1;
    flex-shrink: 1;
    box-sizing: border-box;
    max-width: var(--service-max-width);
}

.service-item h3 {
    text-align: center;
}

#services .service {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    text-wrap: balance;
    gap: 1ch;
}

#services .service .text {
    max-width: 27ch;
}

.service-item .service .img-container {
    margin: 0 auto;
}

.service-item .service .img-container img {
    height: 7lh;
    width: 7lh;
    max-width: 100%;
    object-fit: cover;
    object-position: center;
}

section .header {
    text-align: center;
}

.text {
    height: max-content;
    margin: auto;
    max-width: 90ch;
}

section:not(:last-of-type) {
    margin-bottom: 1lh;
}