#hero {
    min-height: fit-content;
    padding: var(--mobile-nav-height, 0) 0;
    box-sizing: border-box;
    text-align: center;
    height: calc(100vw / 5);
}

.hero-text {
    scroll-padding-left: 1ch;
}